# Default application port
PORT=5000

# Database configuration
DB_CONNECTION=mongodb+srv://davidadrian_db_user:Namaste123@vim.ip6howi.mongodb.net/backend-programming-template-2025?retryWrites=true&w=majority&appName=Vim
DB_NAME=GachaDavid
